{% extends "account/base.html" %}

{% block content %}

{% include "account/status.html" %}
   <div class="row">
        <div class="col-md-5">
            <h1>Custumer</h1>
            <br>
            <div class="card card-body">
                <a href="" class="btn btn-primary btn-block">Create custumer</a>
                <table class="table table-sm">
                    <tr>
                        
                        <th>Custumer</th>
                        <th>Phone</th>
                       
                    </tr>
                    {% for c in custumers  %}
                    <tr>
                        <td>{{ c.name }}</td>
                        <td>{{ c.phone }}</td>
                       
                    </tr>
                {% endfor %}
                </table>
            </div>

        </div>
        <div class="col-md-7">
            <h1>Last 5 order</h1>
            <br>
            <div class="card card-body">
                <a href="" class="btn btn-primary btn-block">Create Order</a>
                <table class="table table-sm">
                    <tr>
                        <th>Product</th>
                        <th>Date Order</th>
                        <th>Status</th>
                        <th>Update</th>
                        <th>Removee</th>
                    </tr>
                        {% for o in orders  %}
                    <tr>
                         <td>{{ o.product.name }}</td>
                        <td>{{ o.date_created }}</td>
                        <td>{{ o.status }}</td>
                       <td><a href="">Uodate</a></td>
                       <td><a href="">Delete</a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
   </div>

{% endblock content %}