{% extends "account/base.html" %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
    <div class="card card-body">
        <p>Are you sure you want delete {{ order }} ? </p>
        <form action={% url 'deleteOrder' order.pk %} method="post">
        {% csrf_token %}
        <a href={% url 'home' %} class="btn btn-warning">Cancel</a>
            <input class="btn btn-danger" type="submit" value="Confirm">
        </form>
    </div>
    </div>
</div>


{% endblock content %}